* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* start utilities */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.bnt_reguler {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
}

.megenta_color {

    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);

}

.regular_color {
    color: #534C64;
}

.common_linear_text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.common_title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.common_text_right {
    text-align: right;
}

/* end utilities */

/* -----------start navbar ----------------- */
.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_logo_left img {
    width: 85px;
    height: 40px;
}

.menu_logo_left h1 {
    font-size: 45px;
    font-weight: 700px;
}

.linear {
    color: #FF42A5;
}

.menu_items_right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu_items_right li {
    list-style: none;
}


.Follow_us {
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 8px;
}

.red_color {
    color: red;
    margin: 0 20px;
}

/* -----------end navbar ----------------- */

/* -----------start banner ----------------- */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_title {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
}

.banner_text {
    background-color: #fffafa;
    padding: 100px;
    border-radius: 8px;
}

.banner_text li {
    list-style: none;
    color: #534C64;
    margin: 17px 0;
}


.banner_goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
}

#cyan_color {
    background: #4EC5F7;
    margin-left: 20px;
}

.banner_img img {
    max-width: 100%;
    height: 550px;
}

/* -----------end banner ----------------- */

/* -----------start we are gamer ----------------- */
.gammer_container {
    background-color: #fffafa;
}

.gammer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gammer_text {
    /* width: 50%; */
    text-align: right;
}

.gammer_img img {
    width: 850px;
}

.gammer_title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.gamer_desc {
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
}


/* -----------end we are gamer ----------------- */

/* -----------start Online Games Funny Videos ----------------- */
.online_games_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.online_game_img img {
    max-width: 100%;
}

.common_text {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* -----------end Online Games Funny Videos ----------------- */

/* --------------- start play instantly ----------------- */
.play_instantly_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.play_instantly_text {
    width: 450px;
    padding: 50px;
}

.play_instantly_img {
    position: relative;


}

.horse_img img {
    max-width: 100%;

}

.my_tom_img img {
    max-width: 100%;
}

.my_tom_img {
    position: absolute;
    bottom: -100px;
    left: -150px;
}


/* -----------end play instantly ---------------------- */

/* -----------start logos  ----------------- */
.logos_container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.logo_text {
    font-size: 12px;
    font-style: normal;

}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
    border: 2px solid transparent;


}


.logos:hover {
    border: 2px solid #FF42A5;
    border-radius: 30px;
    color: #FF42A5;




}

/* -----------end logos ----------------- */
/* -----------start navbar ----------------- */
/* -----------end navbar ----------------- */

/* -----------start mobile responsive ----------------- */
@media only screen and (max-width: 768px) {

    .menubar,
    .menu_items_right {
        flex-direction: column;
    }

    .menu_items_right {
        margin-top: 24px;
    }

    .banner,
    .play_instantly_container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner_text {
        min-width: 100%;
    }

    .banner_img img {
        max-width: 100%;
        height: 500px;
    }

    .gammer {
        flex-direction: column;
        align-items: center;
    }

    .gammer_img img {
        width: 400px;
    }

    .gammer_text,
    .horse_img img {
        min-width: 100%;

    }

    .my_tom_img img {
        width: 318px;
        height: 350px;
    }

    .online_games_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .online_game_img img {
        max-width: 100%;
    }



    .play_instantly_container {
        justify-content: center;
    }

    .logos_container {
        grid-template-columns: repeat(3, 1fr);
    }


}

/* -----------end mobile responsive ----------------- */


/* -----------start tablet responsive ----------------- */
@media screen and (min-width: 769px) and (max-width: 1023px) {

    .menubar,
    .menu_items_right {
        display: flex;
    }

    .menu_items_right {
        margin-top: 24px;
    }

    .banner {
        flex-direction: column;
    }

    .banner_img img {
        max-width: 100%;
        height: 500px;
    }


    .gammer_img img {
        max-width: 50%;
    }

    .online_games_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .online_game_img img {
        min-width: 100%;
    }


}

/* -----------end tablet responsive ----------------- */

/* -----------start laptop responsive ----------------- */