* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* start utilities */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.bnt_reguler {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
}

.megenta_color {

    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);

}

/* end utilities */

/* -----------start navbar ----------------- */
.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_logo_left img {
    width: 85px;
    height: 40px;
}

.menu_logo_left h1 {
    font-size: 45px;
    font-weight: 700px;
}

.linear {
    color: #FF42A5;
}

.menu_items_right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu_items_right li {
    list-style: none;
}


.Follow_us {
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 8px;
}

.red_color {
    color: red;
    margin: 0 20px;
}

/* -----------end banner ----------------- */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_title {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
}

.banner_text {
    background-color: #fffafa;
    padding: 100px;
    border-radius: 8px;
}

.banner_text li {
    list-style: none;
    color: #534C64;
    margin: 17px 0;
}


.banner_goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
}

#cyan_color {
    background: #4EC5F7;
    margin-left: 20px;
}

.banner_img img {
    max-width: 100%;
    height: 550px;
}


/* -----------end banner ----------------- */
/* -----------end navbar ----------------- */

/* -----------start navbar ----------------- */
/* -----------end navbar ----------------- */

/* -----------start navbar ----------------- */
/* -----------end navbar ----------------- */

/* -----------start mobile responsive ----------------- */
@media only screen and (max-width: 768px) {

    .menubar,
    .menu_items_right {
        flex-direction: column;
    }

    .menu_items_right {
        margin-top: 24px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner_text {
        min-width: 100%;
    }

    .banner_img img {
        min-width: 100%;
    }
}

/* -----------end mobile responsive ----------------- */


/* -----------start tablet responsive ----------------- */
@media screen and (min-width: 769px) and (max-width: 1023px) {

    .menubar,
    .menu_items_right {
        display: flex;
    }

    .menu_items_right {
        margin-top: 24px;
    }

    .banner {
        flex-direction: column;
    }

    .banner_img img {
        max-width: 100%;
        height: 500px;
    }
}

/* -----------end tablet responsive ----------------- */

/* -----------start laptop responsive ----------------- */